<dialog class="add-notification-modal">
  <section class="modal-header">
    <h2 class="modal-title">הוספת התראה חדשה</h2>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </section>
  <form class="modal-form">
    <section class="form-input-container">
      <label class="form-title">כותרת התראה</label>
      <input
        type="text"
        class="form-input"
        name="title"
        placeholder="כותרת התראה"
        required
      />
    </section>
    <section class="form-input-container">
      <div class="form-title-container">
        <label class="form-title">מלל התראה</label>
        <span class="form-counter">
          0/100
        </span>

      </div>
      <input
        type="text"
        class="form-input"
        name="title"
        placeholder="מלל התראה"
        required
      />
    </section>
  </form>
  <button class="modal-submit">שמירה</button>
</dialog>