<div class="modal-overlay hidden"></div>

<dialog class="add-notification-modal hidden">
  <section class="add-notification-container">
    <section class="add-notification-header">
      <h2 class="add-notification-title">הוספת התראה חדשה</h2>
      <button type="button" class="add-notification-close" aria-label="Close">
        <i
          class="fa-solid fa-xmark add-notification-close-btn"
          style="color: #32324c;"
        ></i>
      </button>
    </section>
    <form class="add-notification-form" id="add-notification-form">
      <section class="form-input-container">
        <label class="form-title">כותרת התראה</label>
        <input type="text" class="form-input" name="title" required />
        <div class="error-message" id="title-error">זהו שדה חובה</div>
      </section>
      <section class="form-input-container">
        <div class="form-title-container">
          <label class="form-title">מלל התראה</label>
          <span id="form-counter" class="form-counter">
            0/100
          </span>
        </div>
        <textarea
          class="form-input second-input"
          name="content"
          id="notification-input"
          required
        ></textarea>
        <div class="error-message" id="content-error">זהו שדה חובה</div>
      </section>
    </form>
  </section>
  <button
    class="add-notification-submit"
    id="add-notification-submit"
  >שמירה</button>
</dialog>