<header class="header">
  <div class="header-logo">
    לוגו
  </div>
  <div class="header-status">
    <i class="fa-solid fa-cash-register" style="color: #ea1f5b;"></i>
    <span class="header-status-text">חשבון פתוח</span>
  </div>
  <div class="header-icons">
    {{> navbar-item iconClass="fa-calendar header-icon" color="#292929" itemText="לטיפולך"}}
    {{> navbar-item iconClass="fa-solid fa-magnifying-glass header-icon" color="#292929" itemText="חיפוש"}}
    {{> navbar-item iconClass="fa-solid fa-headset header-icon" color="#292929" itemText="תמיכה"}}
    {{> navbar-item itemId="openSidebar" iconClass="fa-bell header-icon" showBadge="true" color="#292929" itemText="התראות" badgeCount=unreadNotificationsCount}}
  </div>
</header>