<header class="header">
  <div class="header-logo">
    לוגו
  </div>
  <div class="header-status">
    <i class="fa-solid fa-cash-register" style="color: #ea1f5b;"></i>
    <span class="header-status-text">חשבון פתוח</span>
  </div>
  <div class="header-icons">

    <div class="icon-badge-container tasks">
      <i
        class="fa-regular fa-calendar icon-badge-icon"
        style="color: #292929;"
      ></i>
      <div class="icon-badge">0</div>
      <span class="icon-badge-text">לטיפולך</span>
    </div>

    <div class="icon-badge-container search">
      <i
        class="fa-solid fa-magnifying-glass icon-badge-icon"
        style="color: #292929;"
      ></i>
      <span class="icon-badge-text">חיפוש</span>
    </div>

    <div class="icon-badge-container support">
      <i
        class="fa-solid fa-headset icon-badge-icon"
        style="color: #292929;"
      ></i>
      <span class="icon-badge-text">תמיכה</span>
    </div>

    <div class="icon-badge-container notifications" id="openSidebar">
      <i class="fa-regular fa-bell icon-badge-icon" style="color: #292929;"></i>
      <div class="icon-badge" id="notification-counter">0</div>
      <span class="icon-badge-text">התראות</span>
    </div>
  </div>
</header>