<nav class="navbar">
  <section class="navbar-items">
    {{> navbar-item itemId="openSidebar" containerClass=" navbar-item-container navbar-item-container_show" spanClass="navbar-item-text_mode" iconClass="fa-bell navbar-icon" showBadge="true" badgeCount=unreadNotificationsCount itemText="התראות"}}
    {{> navbar-item spanClass="navbar-item-text_mode" iconClass="fa-solid fa-house navbar-item navbar-icon" itemText="ראשי"}}
    {{> navbar-item spanClass="navbar-item-text_mode" iconClass="fa-calendar navbar-icon" itemText="יומן"}}
    {{> navbar-item spanClass="navbar-item-text_mode" iconClass="fa-solid fa-cash-register navbar-icon" itemText="קופה" }}
    {{> navbar-item containerClass="navbar-item-container_hide" spanClass="navbar-item-text_mode" iconClass="fa-solid fa-circle-user navbar-icon" itemText="לקוחות"}}
  </section>
    <section class="navbar-items">
    {{> navbar-item containerClass="navbar-item-container_hide" spanClass="navbar-item-text_mode" iconClass="fa-solid fa-store navbar-icon" itemText="שירותים ופריטים"}}
    {{> navbar-item containerClass="navbar-item-container_hide" spanClass="navbar-item-text_mode" iconClass="fa-solid fa-chart-simple navbar-icon" itemText="דוחות"}}
    {{> navbar-item containerClass="navbar-item-container_hide" spanClass="navbar-item-text_mode" iconClass="fa-solid fa-gear navbar-icon" itemText="הגדרות" }}
    {{> navbar-item containerClass="navbar-item-container_hide" spanClass="navbar-item-text_mode" iconClass="rectangle-logo navbar-icon" itemText="החשבון שלי"}}
    {{> navbar-item containerClass="navbar-item-container_show" spanClass="navbar-item-text_mode" iconClass="fa-solid fa-bars navbar-icon" itemText="תפריט"}}
  </section>
</nav>