<nav class="navbar">
  <section class="navbar-items">
    {{> navbar-item darkModeClass="navbar-item-text_darkmode" iconClass="fa-solid fa-house navbar-item" color="#FFFFFF" itemText="ראשי"}}
    {{> navbar-item darkModeClass="navbar-item-text_darkmode" iconClass="fa-calendar" color="#FFFFFF" itemText="יומן"}}
    {{> navbar-item darkModeClass="navbar-item-text_darkmode" iconClass="fa-solid fa-cash-register"  color="#FFFFFF" itemText="קופה" }}
    {{> navbar-item darkModeClass="navbar-item-text_darkmode" iconClass="fa-solid fa-circle-user" color="#FFFFFF" itemText="לקוחות"}}
  </section>
    <section class="navbar-items">
    {{> navbar-item darkModeClass="navbar-item-text_darkmode" iconClass="fa-solid fa-store" color="#FFFFFF" itemText="שירותים ופריטים"}}
    {{> navbar-item darkModeClass="navbar-item-text_darkmode" iconClass="fa-solid fa-chart-simple" color="#FFFFFF" itemText="דוחות"}}
    {{> navbar-item darkModeClass="navbar-item-text_darkmode" iconClass="fa-solid fa-gear" color="#FFFFFF" itemText="הגדרות" }}
    {{> navbar-item darkModeClass="navbar-item-text_darkmode" iconClass="rectangle-logo" color="#FFFFFF" itemText="החשבון שלי"}}
  </section>
</nav>