<div class="modal-overlay hidden"></div>
<dialog class="hidden success-modal">
  <section class="success-container">
    <section class="success-header">
      <button type="button" class="add-notification-close" aria-label="Close">
        <i
          class="fa-solid fa-xmark add-notification-close-btn"
          style="color: #32324c;"
        ></i>
      </button>
    </section>
    <section class="success-content">
      <i class="fa-regular fa-circle-check" style="color: #01c736;"></i>
      <h3 class="success-title">!הפעולה בוצעה בהצלחה</h3>
      <p class="success-text">!התראה נוספה בהצלחה</p>
    </section>

  </section>
</dialog>