.open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}
.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: bold; // or 700 for bold weight
}
