.navbar-item-container {
  position: relative;
  display: flex;
  flex-direction: column;

  cursor: pointer;

  .navbar-item-icon {
    font-size: 28px;
    position: relative;
    align-self: center;
  }
  .navbar-icon {
    color: #ffffff;
  }

  .navbar-item-badge {
    background-color: red;
    font-size: 12px;
    color: white;
    text-align: center;
    @extend .rubik-medium;
    font-size: 14px;
    width: 23px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    position: absolute;
    top: -8px;
    right: 0;
  }

  .navbar-item-text {
    text-align: center;
    @extend .open-sans-medium;
    font-size: 16px;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
    margin-top: 6px;
    margin-bottom: 15px;
  }
  .navbar-item-text_mode {
    color: #fff;
  }
}
.navbar-item-container_show {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar-item-container {
    flex-direction: row;
    width: 100%;
    position: relative;
    .navbar-icon {
      color: #292929;
    }
    .navbar-item-badge {
      top: -12px;
      right: -12px;
    }
  }
  .navbar-item-icon {
    font-size: 28px;
    color: #292929;
  }
  .navbar-item-text_mode {
    display: none;
  }
  .navbar-item-container_hide {
    display: none;
  }
  .navbar-item-container_show {
    display: flex;
  }
}
