.navbar-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  margin-left: 54px;
  cursor: pointer;

  .navbar-item-icon {
    font-size: 28px;
    position: relative;
    align-self: center;
  }

  .navbar-item-badge {
    background-color: red;
    font-size: 12px;
    color: white;
    text-align: center;
    @extend .rubik-medium;
    font-size: 14px;
    width: 23px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    position: absolute;
    top: -8px;
    right: 0;
  }

  .navbar-item-text {
    text-align: center;
    @extend .open-sans-medium;
    font-size: 16px;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
    margin-top: 6px;
    margin-bottom: 15px;
  }
}
