.navbar {
  grid-area: navbar;
  background: #292929 0% 0% no-repeat padding-box;
  width: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 42px;
}
.navbar-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .navbar {
    height: 72px;
    width: calc(100% - 74px);
    flex-direction: row;
    padding: 0px 37px;
    align-items: center;
    background: #ffffff;
    .navbar-items {
      margin-top: 13px;
      display: flex;
      flex-direction: row;
      gap: 42px;
      align-items: center;
    }
  }
}
